version: '3.8'

services:
  firefly-blog:
    # 使用官方的 Nginx 镜像
    image: nginx:alpine
    # 给容器起一个友好的名字，方便管理
    container_name: firefly-blog
    # 端口映射：将主机的 7878 端口映射到容器的 80 端口
    ports:
      - "7979:80"
    # 卷挂载：将当前目录下的 dist 文件夹挂载到 Nginx 的默认网站目录
    # 这里的 ./dist 是相对于 docker-compose.yml 文件的路径
    volumes:
      - ./dist:/usr/share/nginx/html
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
      - ./log:/var/log/
    command: sh -c "mkdir -p /var/log/nginx && touch /var/log/nginx/access.log /var/log/nginx/error.log && nginx -g 'daemon off;'"  # 创建日志目录
    # 保持容器在后台运行
    restart: always

